.parent-container {
  padding: 3px;
}

.delivery-time-container {
  margin: 3px 0;
}

.delivery-time-container p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.input-container {
  border-bottom: solid 1px #2874f0;
  display: flex;
  align-items: center;
  max-width: 250px;
}

input {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
  border: none;
}
